/* .bw-theme {
/*    --bw-global-color-primary: #6ec1e4; */
/*   --bw-global-color-secondary: #282826;
  --bw-global-color-text: #555555;
  --bw-global-color-two: #ff981f;
  --bw-global-color-one: #2a7465;
  --bw-global-color-212fe2b: #24252c;
  --bw-global-typography-primary-font-weight: 600;
  --bw-global-typography-secondary-font-weight: 400;
  --bw-global-typography-text-font-weight: 400;
  --bw-global-typography-accent-font-weight: 600;
  font-family: "Inter", Sans-serif;
} */
.bw-theme button,
.bw-theme input[type="button"],
.bw-theme input[type="submit"] {
  background-color: var(--bw-global-color-secondary);
  font-family: "Public Sans", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50px 50px 50px 50px;
  padding: 14px 25px 14px 25px;
  transition: all 0.3s ease;
  border: none;
  border-color: var(--bw-global-color-secondary);
  box-shadow: none;
}
.bw-theme button:hover,
.bw-theme button:focus,
.bw-theme input[type="button"]:hover,
.bw-theme input[type="button"]:focus,
.bw-theme input[type="submit"]:hover,
.bw-theme input[type="submit"]:focus {
  background-color: var(--bw-global-color-primary);
  color: #ffffff;
  border-radius: 50px 50px 50px 50px;
}

.bw-theme input::placeholder {
  color: var(--bw-global-color-text); /* farba textu placeholderu */
  opacity: 0.5; /* niektoré prehliadače ho robia automaticky bledším */
}

.bw-theme textarea,
.bw-theme input[type="text"],
.bw-theme input[type="email"],
.bw-theme input[type="password"] {
  background-color: var(--bw-global-color-background);
  font-family: "Public Sans", Sans-serif;
  font-size: 14px;
  color: var(--bw-global-color-text);
  border-radius: 20px 20px 20px 20px;
  padding: 14px 25px 14px 25px;
  transition: all 0.3s ease;
  border-width: 1px;
  border-color: var(--bw-global-color-text);
}

/* .bw-theme button:hover,
.bw-theme button:focus,
.bw-theme input[type="text"]:hover,
.bw-theme input[type="email"]:focus,
.bw-theme input[type="text"]:hover,
.bw-theme input[type="email"]:focus {
  background-color: var(--bw-global-color-primary);
  color: #ffffff;
  border-radius: 50px 50px 50px 50px;
} */

.bw-theme e-page-transition {
  background-color: #ffbc7d;
}
.bw-theme p {
  margin-bottom: 10px;
}
.bw-theme a {
  text-decoration: none;
  transition: color 0.3s ease; /* plynulá zmena farby */
}
.bw-theme h1 {
  color: var(--bw-global-color-secondary);
}
.bw-theme h2 {
  font-family: "Public Sans", Sans-serif;
}
.bw-theme h3 {
  font-family: "Public Sans", Sans-serif;
}
.bw-theme h4 {
  font-family: "Public Sans", Sans-serif;
}
.bw-theme h5 {
  font-family: "Public Sans", Sans-serif;
}
.bw-theme h6 {
  font-family: "Public Sans", Sans-serif;
}
.header_top {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  font-size: 1 rem;
  height: 34px;
  max-width: min(100%, var(--width));
  background-color: var(--bw-global-color-1e622a1);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1200px;
}
.e-con {
  --container-max-width: 1200px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}

h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-65 .cbx {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--brown1);
  background-image: linear-gradient(var(--brown1), var(--brown2));
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15),
    inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}
.checkbox-wrapper-65 .cbx svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-65 .cbx + span {
  float: left;
  margin-left: 6px;
}
.checkbox-wrapper-65 {
  user-select: none;
}
.checkbox-wrapper-65 label {
  display: inline-block;
  cursor: pointer;
}
.checkbox-wrapper-65 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
  background-color: var(--brown1);
  background-image: linear-gradient(var(--brown4), var(--brown5));
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}

.radio-wrapper-31 * {
  box-sizing: border-box;
}

.radio-wrapper-31 label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  /* font-size: 14px; */
  padding: 3px 0;
}

.radio-wrapper-31 .label {
  position: relative;
  display: inline-block;
  /* display: flex; */
  /* float: left; */
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--brown2);
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: 1px;
}
.radio-wrapper-31 .label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--brown5);
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio-wrapper-31:hover .label:after {
  transform: scale(3.6);
}
.radio-wrapper-31 input[type="radio"]:checked + .label {
  border-color: var(--brown5);
}
.radio-wrapper-31 input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.radio-wrapper-31 input[type="radio"] {
  display: none;
}

@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
