.bw-theme {
  /* --bw-global-color-primary: #6ec1e4; */
  --bw-global-color-primary: #2a7465;
  --bw-global-color-secondary: #ff981f;
  --bw-global-color-text: #555555;
  --bw-global-color-dark: #282826;
  --bw-global-color-dark2: #24252c;
  font-family: "Inter", Sans-serif;
  display: flex;
  justify-content: center; 
}