.bw-theme {
  /* --bw-global-color-primary: #6ec1e4; */
  --bw-global-color-primary: rgb(42, 116, 101);
  --bw-global-color-primary-alpha: rgb(42, 116, 101, 0.1);
  --bw-global-color-secondary: #ff981f;
  --bw-global-color-secondary-alpha: rgba(255, 152, 31, 0.1);
  --bw-global-color-text: #555555;
  --bw-global-color-dark: #282826;
  --bw-global-color-dark2: #24252c;
  --width: 1200px;
  font-family: "Inter", Sans-serif;
  /* display: flex;
  width: 100%;
  align-items: center;   
  flex-direction: column; */
}