.left-menu-navigation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c6db6;
}

.left-menu-navigation-li {
  float: left;
}

.left-menu-navigation-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-navigation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-navigation-li {
  float: left;
}

.main-navigation-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.user-account-navigation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #921818;
}

.user-account-navigation-li {
  float: left;
}

.user-account-navigation-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* ///////////////////////// .primary-menu //////////////////////// */

.primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #ffffff; /* farba menu */
}

.primary-menu ul li {
  position: relative; /* pre submenu */
}

.primary-menu ul li a,
.primary-menu ul li label {
  display: block;
  padding: 12px 20px;
  color: var(--bw-global-color-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.primary-menu ul li a:hover,
.primary-menu ul li label:hover {
  color: var(--bw-global-color-primary);
  transition: color 0.3s;
}

/* Submenu */
.primary-menu ul li .submenu {
  /*display: none; /* skryté štandardne */
  position: absolute;
  top: 110%; /* máličko pod rodičovský li */
  left: 0;
  background-color: #ffffff;
  min-width: 180px;
  z-index: 1000;
  flex-direction: column;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;

  /* Skrytie */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); /* trošku vyššie */
  transition: all 0.6s ease; /* animácia */
}

.primary-menu ul li .submenu li a {
  padding: 10px 15px;
}

.primary-menu ul li .submenu li a:hover {
  color: #ffffff;
  background-color: var(--bw-global-color-primary);
  transition: color 0.4s ease;
  transition: background-color 0.4s ease;
}
.primary-menu ul li .submenu li:first-child a:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.primary-menu ul li .submenu li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Zobrazenie submenu pri hover */
.primary-menu ul li.has-submenu:hover .submenu {
  /* display: flex; */
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* vráti sa hore */
}
.primary-menu input[type="checkbox"] {
  display: none;
}

/* Hamburger ikonka */
.primary-menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--bw-global-color-dark);
}

.submenu-toggle {
  display: inline-block;
}
.primary-menu .menu-item-caption a {
  display: inline-block;
  padding-right: 3px;
}
.primary-menu .menu-item-caption label {
  display: inline-block;
  padding-left: 3px;
}
.padding-left-constant {
  padding-left: 6px;
}

/* Responsívne: zmena na column pri malej šírke */
@media (max-width: 768px) {
  /* .primary-menu ul {
					flex-direction: column;
				} 

				.primary-menu ul li .submenu {
					position: relative;
					top: 0;
					left: 0;
				}*/
  .primary-menu-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  /* ikony na seba */
  .primary-menu-toggle span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .primary-menu-toggle-hamburger {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  .primary-menu-toggle-cross {
    opacity: 0;
    transform: rotate(-90deg) scale(0.8);
  }

  #primary-menu-toggle:checked
    ~ .primary-menu-toggle
    .primary-menu-toggle-hamburger {
    opacity: 0;
    transform: rotate(90deg) scale(0.8);
  }
  #primary-menu-toggle:checked
    ~ .primary-menu-toggle
    .primary-menu-toggle-cross {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  .primary-menu ul {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    /* right: 0; */
    width: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 500;
  }

  .primary-menu ul li .submenu {
    position: relative; /* už nie absolute → bude súčasťou flow */
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: none;
    display: none; /* skryté, kým nie je otvorené */
    border-radius: 0;
  }

  .primary-menu ul li .submenu li:first-child a:hover,
  .primary-menu ul li .submenu li:last-child a:hover {
    border-radius: 0;
  }

  /* .primary-menu ul li.menu-item-caption.open .submenu {
					display: block;
				} */

  /* Zobraziť menu keď je checkbox zapnutý */
  #primary-menu-toggle:checked ~ ul {
    display: block; /* zobraziť menu */
  }

  /* Submenu */
  .primary-menu .has-submenu ul.submenu {
    max-height: 0; /* začína zmenšené */
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    /* display: none; */
    display: block;
    flex-direction: column;
    background: #f9f9f9;
    padding-left: 30px;
  }

  .primary-menu .menu-item-caption label {
    display: inline-block;
    padding: 20 0px;
    cursor: pointer;
  }

  /* Zobraziť submenu ak je zapnutý jeho checkbox */
  /* .menu-item-caption input[type="checkbox"]:checked + label + ul.submenu { */
  .has-submenu input[type="checkbox"]:checked ~ .submenu {
    /* display: flex; */
    /*zmeniť na block, aby sa dal nastaviť max-height */
    max-height: 120px; /* alebo nejaká dostatočná hodnota, pozor, toto zahrnuje i prazdny priestor, takze
					ak by bola hodnota 10000 tak čakas, kym ju zroluje celu*/
    opacity: 1;
  }
}
